@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #9397AD;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.courses-page {
  padding: 50px 0;
}
.courses-page .container {
  display: flex;
  flex-direction: column;
}
.courses-page .container .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 390px) {
  .courses-page .container .toolbar {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 376px) and (max-width: 1350px) {
  .courses-page .container .toolbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
.courses-page .container .toolbar .navigation {
  padding: 30px 0;
}
.courses-page .container .toolbar .navigation .menu-links {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  color: #9397AD;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.courses-page .container .toolbar .navigation .menu-links:hover, .courses-page .container .toolbar .navigation .menu-links:active, .courses-page .container .toolbar .navigation .menu-links:focus,
.courses-page .container .toolbar .navigation .menu-links .active {
  color: #6366F1;
  text-decoration: none;
}
.courses-page .container .toolbar .navigation .menu-links i {
  margin-right: 5px;
}
.courses-page .container .toolbar .navigation .menu-links i.fa-sharp.fa-solid.fa-angles-right {
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.courses-page .container .toolbar h1 {
  margin-bottom: 35px;
}
.courses-page .container .dropdown-search {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
@media (max-width: 390px) {
  .courses-page .container .dropdown-search {
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
  }
}
@media (min-width: 376px) and (max-width: 1350px) {
  .courses-page .container .dropdown-search {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.courses-page .container .dropdown {
  position: relative;
  display: inline-block;
  margin-right: 25px;
}
.courses-page .container .dropbtn {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  width: 240px;
  height: 44px;
  border: 1px solid #D4D7E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0px 4px 9px -1px rgba(86, 89, 115, 0.3), 0px 4.4px 20px -1px rgba(86, 89, 115, 0.5);
}
.courses-page .container .dropbtn i {
  margin-left: 10px;
}
.courses-page .container .dropdown-content {
  list-style: none;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
}
.courses-page .container .dropdown-content li {
  padding: 10px;
}
.courses-page .container .dropdown-content li a {
  color: #333;
  text-decoration: none;
  display: block;
}
.courses-page .container .dropdown:hover .dropdown-content {
  display: block;
}
.courses-page .container .search-courses {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 300px;
  height: 44px;
  box-shadow: 0px 4px 9px -1px rgba(86, 89, 115, 0.3), 0px 4.4px 20px -1px rgba(86, 89, 115, 0.5);
  position: relative;
}
.courses-page .container .search-courses input {
  width: 100%;
  height: 100%;
  padding-right: 40px;
  border: none;
}
.courses-page .container .search-courses input::placeholder {
  color: #D4D7E5;
}
.courses-page .container .search-courses input i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
}
.courses-page .container .courses-show {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 390px) {
  .courses-page .container .courses-show {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media (min-width: 376px) and (max-width: 1350px) {
  .courses-page .container .courses-show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.courses-page .container .courses-show .courses {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  position: relative;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 5px;
  text-decoration: none;
}
.courses-page .container .courses-show .courses:hover {
  text-decoration: none;
}
.courses-page .container .courses-show .courses .bestbadge {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.courses-page .container .courses-show .courses .bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.courses-page .container .courses-show .courses img {
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.courses-page .container .courses-show .courses .price {
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 0;
}
.courses-page .container .courses-show .courses h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
  margin: 0;
  padding: 0 20px 0 20px;
}
.courses-page .container .courses-show .courses h5:hover {
  text-decoration: underline;
}
.courses-page .container .courses-show .courses hr {
  border-color: #E2E5F1;
  margin: 5px 20px 0 10px;
}
.courses-page .container .courses-show .courses .price-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 0;
}
.courses-page .container .courses-show .courses .price-red {
  color: #EF4444;
  font-weight: bold;
  margin-right: 20px;
  margin-top: -10px;
  margin-bottom: 0;
}
.courses-page .container .courses-show .courses .old-price {
  color: #9397AD;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 0;
}
.courses-page .container .courses-show .courses .author {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  margin-left: 20px;
  margin-bottom: -15px;
}
.courses-page .container .courses-show .courses .courses-time {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  color: #9397AD;
  margin: 15px 0 20px 20px;
}
.courses-page .container .courses-show .courses .courses-time i {
  margin-right: 5px;
}
.courses-page .container .courses-show .courses .courses-time i.fa-light.fa-thumbs-up {
  margin-left: 20px;
}
.courses-page .container .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 0 0;
}
.courses-page .banner {
  padding: 50px 0;
  margin-top: 50px;
}
.courses-page .banner .container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  background-color: #F3F6FF;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
}
@media (max-width: 390px) {
  .courses-page .banner .container {
    flex-direction: column;
    align-items: center;
  }
}
.courses-page .banner .container .banner-text {
  text-align: left;
  flex: 1;
  padding: 80px;
}
.courses-page .banner .container .banner-image {
  order: 2;
  max-width: 100%;
  height: auto;
  padding-right: 180px;
}
.courses-page .banner .container h1 {
  margin-bottom: 20px;
}
.courses-page .banner .container p {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
  color: #565973;
  margin-bottom: 20px;
}
.courses-page .banner .container span {
  color: #6366F1;
}
.courses-page .banner .container button {
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
}
