<section class="apps">
    <div class="container">
        <div class="iphone">
            <img src="/Images/iphoneApp.svg" alt="Iphone with Silicone App">
        </div>
        <div class="content">
            <h2>Download Our App for Any Device:</h2>
            <div class="download-type">
                <p>App Store</p>
                <img src="/Images/rating.svg" alt="five stars">
                <div class="app-type">
                    <div class="text">
                        <h5>Editor's Choice</h5>
                        <p class="rating">rating 4.7, 187K+ reviews</p>
                    </div>
                    <img src="/Images/appstore.svg" alt="download on the app store">
                </div>
            </div>
            <div class="download-type">
                <p>Google Play</p>
                <img src="/Images/rating.svg" alt="five stars">
                <div class="app-type">
                    <div class="text">
                        <h5>App of the Day</h5>
                        <p class="rating">rating 4.8, 30K+ reviews</p>
                    </div>
                    <img src="/Images/googleplay.svg" alt="get it on Google Play">
                </div>
            </div>
        </div>
    </div>
</section>