@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}

<section class="benefits"> 
    <div class="container">
        <div class="text">
            <h1 class="title">What Do You Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on the important.</p>
        </div>
        <div class="grid">
            <div class="app-card1">
                <img src="/Images/@(isDark ? "textbubble-dark.svg" : "textbubble.svg")" alt="text bubble with dots">
                <div class="content">
                    <h5>Comments on Tasts</h5>
                    <p class="text-s">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </div>
            </div>
            <div class="app-card2">
                <img src="/Images/@(isDark ? "screen-dark.svg" : "screen.svg")" alt="projector screen with analytics">
                <div class="content">
                    <h5>Tasks Analytics</h5>
                    <p class="text-s">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                </div>
            </div>
            <div class="app-card3">
                <img src="/Images/@(isDark ? "peopleplus-dark.svg" : "peopleplus.svg")" alt="two people and plus symbol">
                <div class="content">
                    <h5>Multiple Assignees</h5>
                    <p class="text-s">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </div>
            </div>
            <div class="app-card4">
                <img src="/Images/@(isDark ? "bell-dark.svg" : "bell.svg")" alt="bell ringing">
                <div class="content">
                    <h5>Notifications</h5>
                    <p class="text-s">Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                </div>
            </div>
            <div class="app-card5">
                <img src="/Images/@(isDark ? "list-dark.svg" : "list.svg")" alt="list with checkmarks">
                <div class="content">
                    <h5>Sections & Subtasks</h5>
                    <p class="text-s">Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                </div>
            </div>
            <div class="app-card6">
                <img src="/Images/@(isDark ? "shield-dark.svg" : "shield.svg")" alt="sheild">
                <div class="content">
                    <h5>Data Security</h5>
                    <p class="text-s">Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                </div>
            </div>
        </div>
    </div>
</section>