@model SharedSilicon.ViewModels.ContactViewModel

<section class="contact-us">

	<div class="container">
		<div class="contact-layout">
			<div class="contact-info">
				<div class="navigation">
					<a class="menu-links" asp-controller="Home" asp-action="Index"> <i class="fa-regular fa-house">  </i> Home  <i class="fa-sharp fa-solid fa-angles-right"></i></a>
					<a class="menu-links" asp-controller="Contact" asp-action="Index">Contact</a>
				</div>
				<h1>Contact Us</h1>

				<div class="contact-content">
					<div class="content-item">
						<img src="~/Images/contactImages/emailus.svg" />
						<div class="contact-text">
							<p class="content-head">Email us</p>
							<p>Please feel free to drop us a line. We will respond as soon as possible.</p>
							<button>Leave a message <i class="fa-sharp fa-solid fa-arrow-right"></i> </button>
						</div>
					</div>

					<div class="content-item">
						<img src="~/Images/contactImages/careersicon.svg" />
						<div class="contact-text">
							<p class="content-head">Careers</p>
							<p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>

							<button>Send an application <i class="fa-sharp fa-solid fa-arrow-right"></i> </button>
						</div>
					</div>
				</div>
			</div>

			<div class="contact-form-container">

				<form id="contactForm" class="contact-form" method="post" asp-controller="Contact" asp-action="Send" novalidate>
					
					<div id="successMessage" class="alert alert-success" style="display: none;">					
					</div>
					
					<h2>Get In Contact With Us</h2>

					<div class="input-group">
						<label asp-for="FullName"></label>
						<span asp-validation-for="FullName" class="error-message"></span>
						<input asp-for="FullName" />
					</div>

					<div class="input-group">
						<label asp-for="EmailAddress"></label>
						<span asp-validation-for="EmailAddress" class="error-message"></span>
						<input asp-for="EmailAddress" />
					</div>

					<div class="input-group">
						<label asp-for="Services"></label>
						<select asp-for="Services">
							<option disabled selected style="display: none;">Choose the service you are interested in</option>
							<option value="Consulting">"Consulting"</option>
						</select>
					</div>

					<div class="input-group">
						<label asp-for="Message"></label>
						<span asp-validation-for="Message" class="error-message"></span>
						<textarea asp-for="Message" rows="5"></textarea>
					</div>

				
					<button type="submit" class="btn-theme">Send Contact Request</button>

				</form>
			</div>
		</div>

	</div>

	<img class="map" src="~/images/contactImages/Map.svg" alt="map with location" />
	<script src="~/js/contact.js"></script>

</section>

@await Html.PartialAsync("_ValidationScriptPartial")