<section class="computer">
    <div class="text">
        <h1 id="s-b">Switch Between</h1>
        <h1 id="l-d">Light & Dark Mode</h1>
    </div>
    <div id="light-dark">
        <div class="dark"></div>
        <div class="light"></div>
        <div class="image">
            <img src="/Images/computer.svg" alt="macbook computer black and white">
        </div>
        <div class="changer">
            <i class="fa-solid fa-arrows-left-right"></i>
        </div>
    </div>
</section>