<section class="showcase"> 
    <div class="container">
        <div class="content">
            <h1 class="title">Task Management Assistant You're Gonna Love</h1>
            <p class="text-lg">We offer you a new generation of task management systems.</p>
            <p class="text-lg">Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme-s" href="#">Get started for free</a>
            <div class="logo-text">
                <h6>The largest companies use our tools to work efficiently</h6>
            </div>
            <div class="rows rows-4 justify-content-evenly">
                <img class="logo" src="/Images/brand-1.svg">
                <img class="logo" src="/Images/brand-2.svg">
                <img class="logo" src="/Images/brand-3.svg">
                <img class="logo" src="/Images/brand-4.svg">
            </div>
        </div>
        <div class="calender">
            <img src="/Images/calender.svg" alt="Image of online calender">
        </div>
    </div>
</section>