@model SignInViewModel
@using SharedSilicon.ViewModels

@{
    ViewData["Title"] = "Sign in";
}

<div class="sign-in ">
    <div class="content">
        <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
            <div>
                @Model.ErrorMessage
            </div>

            <h1>Welcome back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>

            <div id="form-email" class="input-field">
                <label asp-for="Form.Email"></label>
                <span asp-validation-for="Form.Email" class="error-message"></span>
                <input asp-for="Form.Email" />
            </div>

            <div id="form-password" class="input-field">
                <label asp-for="Form.Password"></label>
                <span asp-validation-for="Form.Password" class="error-message"></span>
                <input asp-for="Form.Password" />
            </div>


            <div id="form-remember" class="checkbox">
                <input asp-for="Form.RememberMe" />
                <label asp-for="Form.RememberMe"> Remember me</label>
            </div>

            <button id="form-submit" class="btn-theme-s" type="submit">@Model.PageTitle</button>


            <div class="forgot">
                <a id="form-forgot-password" asp-controller="" asp-action="">Forgot your password?</a>
            </div>

            <div class="external-providers">
                <h6>Or sign in with your social account</h6>
                <div class="providers">
                    <a class="btn-theme" asp-action="Facebook" asp-controller="Auth"><i class="fa-brands fa-facebook"></i>Facebook</a>
                    <a class="btn-theme" asp-action="Google" asp-controller="Auth"><i class="fa-brands fa-google"></i>Google</a>
                </div>
            </div>
        </form>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
</div>


