@using SharedSilicon.ViewModels
@model SubscribeViewModel


<section class="subscribe">
    <div class="container">
        <div class="text">
            <h2>Don't Want to Miss Anything?</h2>
            <img src="/Images/arrows.svg" alt="arrow swirling downwards">
        </div>
        <form method="post" asp-controller="Home" asp-action="Subscribe">
            <div class="grid">
                <div class="signup">
                    <h5>Sign up for Newsletters</h5>
                </div>
                <div class="signup-check1">
                    <div class="checkbox">
                        <input asp-for="Form.Newsletter" type="checkbox" />
                        <label asp-for="Form.Newsletter"></label>
                    </div>
                    <div class="checkbox">
                        <input asp-for="Form.EventUpdates" type="checkbox" />
                        <label asp-for="Form.EventUpdates"></label>
                    </div>
                </div>
                <div class="signup-check2">
                    <div class="checkbox">
                        <input asp-for="Form.AdvertisingUpdates" type="checkbox" />
                        <label asp-for="Form.AdvertisingUpdates"></label>
                    </div>
                    <div class="checkbox">
                        <input asp-for="Form.StartupsWeekly" type="checkbox" />
                        <label asp-for="Form.StartupsWeekly"></label>
                    </div>
                </div>
                <div class="signup-check3">
                    <div class="checkbox">
                        <input asp-for="Form.WeekInReview" type="checkbox" />
                        <label asp-for="Form.WeekInReview"></label>
                    </div>
                    <div class="checkbox">
                        <input asp-for="Form.Podcasts" type="checkbox" />
                        <label asp-for="Form.Podcasts"></label>
                    </div>
                </div>

            </div>
            <div class="subscribe-form">
                <div class="input-group-span">
                    <span asp-validation-for="Form.Email" class="text-danger"></span>
                    <div class="input-group">
                        <input type="text" id="email-signup" asp-for="Form.Email" placeholder="Your Email">
                        <i class="fa-light fa-envelope"></i>
                        <button class="btn-theme-s" type="submit">Subscribe*</button>
                    </div>
                </div>
            </div>
            <div class="terms">
                <p>* Yes, I agree to the terms and privacy policy.</p>
            </div>
        </form>
    </div>
</section>