.benefits {
    background-color: var(--gray-100);
    padding: 20%;

    @include md {
        padding: 80px;
    }

    .container {
        justify-content: center;
        text-align: center;
        align-items: center;

        .text {
            justify-content: center;
            text-align: center;
            align-items: center;
            padding: 0;
            margin-bottom: 5%;

            @include lg {
                padding: 0px 20% 0 20%;
            }

            .title {
                width: 100%;
            }

            p {
                padding: 0px 10% 0 10%;
            }
        }

        .grid {
            width: 100%;
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "app-card1" "app-card2" "app-card3" "app-card4" "app-card5" "app-card6";

            @include lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "app-card1 app-card2 app-card3" "app-card4 app-card5 app-card6";
            }

            .app-card1 {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;
                grid-area: app-card1;
                height: 250px;

                @include lg {
                    border-top: 0px solid $gray-300;
                    border-left: 0px solid $gray-300;
                }

                &:hover {
                    background-color: var(--gray-000);
                }
            }

            .app-card2 {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;
                grid-area: app-card2;
                height: 250px;

                @include lg {
                    border-top: 0px solid $gray-300;
                }

                &:hover {
                    background-color: var(--gray-000);
                }
            }

            .app-card3 {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;
                grid-area: app-card3;
                height: 250px;

                @include lg {
                    border-top: 0px solid $gray-300;
                    border-right: 0px solid $gray-300;
                }

                &:hover {
                    background-color: var(--gray-000);
                }
            }

            .app-card4 {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;
                grid-area: app-card4;
                height: 250px;

                @include lg {
                    border-bottom: 0px solid $gray-300;
                    border-left: 0px solid $gray-300;
                }

                &:hover {
                    background-color: var(--gray-000);
                }
            }

            .app-card5 {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;
                grid-area: app-card5;
                height: 250px;

                @include lg {
                    border-bottom: 0px solid $gray-300;
                }

                &:hover {
                    background-color: var(--gray-000);
                }
            }

            .app-card6 {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;
                grid-area: app-card6;
                height: 250px;

                @include lg {
                    border-bottom: 0px solid $gray-300;
                    border-right: 0px solid $gray-300;
                }

                &:hover {
                    background-color: var(--gray-000);
                }
            }
        }
    }
}
