.contentt {
    background-color: var(--gray-000);

    .container {
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        align-items: center;
        display: flex;

        @include md {
            padding-top: 10vh;
            padding-bottom: 10vh;
            display: flex;
        }

        .calender {
            display: none;

            @include lg {
                display: flex;
                block-size: 50%;

                img {
                    height: 95%;

                    @include lg {
                        width: 95%; 
                    }

                    @include xl {
                        width:95%;
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 10%;
            justify-content: center;
            width: 100%;

            @include lg {
                padding-left: 10%;
                width: 50%;
                justify-content: left;
            }

            h2 {
                padding-bottom: 20px;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .icon-points {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                @include lg {
                    justify-content: left;
                    text-align: left;
                }


                i {
                    position: relative;
                    top: -7px;
                    color: $theme;
                    font-weight: 400;
                    display: none;

                    @include lg {
                        display: block;
                    }
                }

                p {
                    margin-left: 10px;
                }
            }

            button {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 175px;
                display: block;

                @include lg {
                    margin-left: 0;
                    margin-right: auto;
                }
            }

        }
    }
}
