.error-404 {
    .container {
        .content {
            text-align: center;
        }

        nav {
            .btn-theme {
                width: 50px;
                height: 50px;
            }
        }
    }
}
