.error-404 {
    
    .container {
     
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            text-align: center;

            h1 {
                color: var(--gray-900);
            }

            p {
                color: var(--gray-900);
            }
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            .btn-theme {
                width: 200px;
                height: 50px;
            }
        }
    }

    @include md {
        .container {
            flex-direction: row;

            nav {
                .btn-theme {
                    width: 200px;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    @include lg {
        .container {
            nav {
                .btn-theme {
                    width: 250px;
                }
            }
        }
    }

    @include xl {
        .container {
            nav {
                .btn-theme {
                    width: 300px;
                }
            }
        }
    }
}
