header {
    padding: 15px 0;
    background-color: var(--gray-000);
    z-index: 10;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";
        gap: 40px;


        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;

                a {
                    color: var(--gray-900);

                    &:hover {
                        color: var(--theme);
                    }
                }
            }
        }

        .btn-switch {
            color: var(--gray-900);
            grid-area: switch;
            display: none;

            label {
                color: var(--gray-900);
            }

            @include lg {
                display: block;
            }
        }

        .account-buttons {
            grid-area: buttons;
            display: none;
            gap: 15px;

            @include lg {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;

            @include lg {
                display: none;
            }
        }

        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 1000;
            overflow: auto;
            padding: 20px;
            display: none;

            @include lg {              
                display: none;            
            }
        }
    }
}
