.container {

    .account-details {
        display: grid;
grid - template - columns: 2fr 5fr;
gap: 150px;
margin - bottom: 70px;

aside {
            border-right: 1px solid $gray-300;
padding - right: 20px;

            .profile - info {
margin: 20px;
    text - align: center;

    h5 {
        margin - top: 15px;
        margin - bottom: 0px;
    }

    p {
        @include text-m;
    }
}

nav {
                margin-top: 20px;
text - align: left;

a {
                    margin: 10px 0;
text - align: left;
justify - content: flex - start;
                }

                .btn - theme - s {
    text - align: left;
    justify - content: flex - start;
}
            }
        }
    }

    .saved - courses {

        .courses - show {
    display: grid;
        grid - template - columns: repeat(2, 1fr);
    gap: 20px;

            .my - courses {

            @include shadow-s;
        position: relative;
            border - radius: 8px;
        display: grid;
            grid - template - rows: auto 1fr auto;
            row - gap: 5px;
            text - decoration: none;

            &:hover {
                text - decoration: none;
            }

                .bestbadge {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 50px;
            height: 50px;
                background - size: cover;
            }

                .bookmark {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            height: 50px;
                background - size: cover;
            }

            img {
                border - radius: 8px 8px 0 0;
                margin - bottom: 10px;
                max - width: 100 %;
            height: auto;
            }

                .price {
                font - weight: bold;
                margin - top: -10px;
                margin - bottom: 0;
            }


            h5 {
                @include h5;
            margin: 0;
            padding: 0 20px 0 20px;

                &:hover {
                    text - decoration: underline;
                }
            }

            hr {
                border - color: $gray - 300;
            margin: 5px 20px 0 10px;
            }

                .price - container {
            display: flex;
                align - items: center;
                margin - left: 20px;
                margin - top: 0;
            }

                .price - red {
            color: $danger;
                font - weight: bold;
                margin - right: 20px;
                margin - top: -10px;
                margin - bottom: 0;
            }

                .old - price {
            color: $gray - 600;
                font - weight: normal;
                margin - top: -10px;
                margin - bottom: 0;
            }

                .author {
                @include text-s;
                margin - left: 20px;
                margin - bottom: -15px;
            }

                .courses - time {

                @include text-s;
            color: $gray - 600;
            margin: 15px 0 20px 20px;

                i {
                    margin - right: 5px;
                }

                i.fa - light.fa - thumbs - up {
                    margin - left: 20px;
                }
            }
        }
    }

}
}
