.container {

    .account-details {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;
         
        aside {
            border-right: 1px solid $gray-300;
            padding-right: 20px;

            .profile-info {
                margin: 20px;
                text-align: center;

                h5 {
                    margin-top: 15px;
                    margin-bottom: 0px;
                }

                p {
                    @include text-m;
                }
            }

            nav {
                margin-top: 20px;
                text-align: left;

                a {
                    margin: 10px 0;
                    text-align: left;
                    justify-content: flex-start;
                }

                .btn-theme-s {
                    text-align: left;
                    justify-content: flex-start;
                }
            }
        }

        .security {
            margin-top: 50px;
            width: 100%;

            .change-password {

                form {
                    padding: 1rem;

                    h5 {
                        color: $theme;
                    }

                    .content {
                        display: grid;
                        gap: 1rem 2rem;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "currentpassword currentpassword" "newpassword confirmpassword" "buttons buttons";

                        #form-currentpassword {
                            grid-area: currentpassword;
                        }

                        #form-newpassword {
                            grid-area: newpassword;
                        }

                        #form-confirmpassword {
                            grid-area: confirmpassword;
                        }

                        .form-buttons {
                            grid-area: buttons;
                            margin: 20px 0;
                            display: flex;
                            gap: 20px;
                        }
                    }
                }
            }

            .delete-account {
                margin-top: 30px;

                form {
                    padding: 1rem;

                    h5 {
                        color: $theme;
                    }

                    .content {

                        p {
                            @include text-m;
                        }

                        .checkbox {
                            padding: 10px 10px 10px 0;
                            color: $gray-700 !important;
                            @include text-m;

                            input[type=checkbox] {
                                @include text-lg;
                                margin-right: 10px;
                            }
                        }

                        .form-buttons {
                            grid-area: buttons;
                            margin: 20px 0;
                            display: flex;
                            gap: 20px;

                            .btn-gray {
                                background-color: $danger;
                                color: $white;

                                &:hover {
                                    background-color: $gray-700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
