@import '../core/_media.scss';
@import '../core/_colors.scss';

.subscribe {
    background-color: $gray-100;

    .container {
        padding-top: 10vh;

        .text {
            display: flex;
            text-align: left;
            padding-left: 15%;
            margin-bottom: 2%;

            img {
                padding-left: 4vh;
                display: none;

                @include md {
                    display: block;
                }
            }
        }
         
        form {
            .grid {
                display: grid;
                justify-content: center;
                padding-left: 15%;
                padding-right: 15%;
                grid-template-columns: 1fr;
                grid-template-areas: "sign-up" "signup-check1" "signup-check2" "signup-check3" "signup-check4" "signup-check5" "signup-check6";

                @include md {
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-areas: "sign-up signup-check1 signup-check2 signup-check3";
                }

                .sign-up {
                    grid-area: sign-up;
                }

                .checkbox input {
                    width: 1rem;
                    height: 1rem;
                    border: 2px solid gray;
                    border-radius: 3px;
                    transform: translateY(10%);
                    opacity: 0.6;

                    &:checked {
                        color: $theme;
                    }
                }

                .checkbox {

                    span {
                        padding-left: 0.5rem;
                    }
                }

                .signup-check1 {
                    grid-area: signup-check1;
                }

                .signup-check2 {
                    grid-area: signup-check2;
                }

                .signup-check3 {
                    grid-area: signup-check3;
                }
            }

            .subscribe-form {
                display: flex;
                flex-direction: column;
                justify-content: left;
                color: $gray-500;
                padding-left: 15%;
                padding-right: 15%;

                @include md {
                    flex-direction: row;
                }

                .input-group-span {

                    .input-group {
                        display: flex;
                        width: 100%;

                        #email.sign-up {
                            max-width: 33rem;
                            width: 100%;
                            height: 3rem;
                            border-radius: 10px;
                            border: 1px solid;
                            border-color: $gray-400;
                            padding-left: 20px;
                            font-weight: 500;
                            opacity: 0.7;
                        }

                        i {
                            font-weight: 300;
                            font-size: 20px;
                            position: relative;
                            display: none;
                            top: .9rem;
                            left: -41rem;

                            @include xxl {
                                display: inline-block;
                            }
                        }

                        button {
                            @include button;
                            @include theme-shadow;
                            margin-top: 10px;
                            height: 2rem;
                            width: 80%;
                            margin-left: 0px;
                            border-radius: 6px !important;

                            @include md {
                                height: 3rem;
                                width: 20%;
                                margin-top: 0px;
                                margin-left: 10px;
                            }

                            @include lg {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }

            .terms {
                padding-left: 15%;
                margin-top: 5px;
            }
        }
    }

    padding-bottom: 10vh;
}
