@import '../core/_media.scss';
@import '../core/_colors.scss';

.subscribe {
    background-color: var(--gray-100);

    .container {
        padding-top: 10vh;

        .text {
            display: flex;
            text-align: left;
            padding-left: 15%;
            margin-bottom: 2%;

            img {
                padding-left: 4vh;
                display: none;

                @include md {
                    display: block;
                }
            }
        }

        form {
            .grid {
                display: grid;
                justify-content: center;
                padding-left: 15%;
                padding-right: 15%;
                grid-template-columns: 1fr;
                grid-template-areas: "sign-up" "signup-check1" "signup-check2" "signup-check3" "signup-check4" "signup-check5" "signup-check6";
                align-items: center;

                @include md {
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-areas: "sign-up signup-check1 signup-check2 signup-check3";
                }

                .sign-up {
                    grid-area: sign-up;
                }

                .checkbox input {
                    width: 1rem;
                    height: 1rem;
                    border: 2px solid gray;
                    border-radius: 3px;
                    transform: translateY(10%);
                    opacity: 0.8;

                    &:checked {
                        color: $theme;
                    }
                }

                .checkbox {

                    span {
                        padding-left: 0.5rem;
                    }
                }

                .signup-check1 {
                    grid-area: signup-check1;
                }

                .signup-check2 {
                    grid-area: signup-check2;
                }

                .signup-check3 {
                    grid-area: signup-check3;
                }
            }

            .subscribe-form {
                display: flex;
                flex-direction: column;
                justify-content: left;
                color: $gray-500;
                padding-left: 15%;
                padding-right: 15%;

                @include md {
                    flex-direction: row;
                }

                .input-group-span {
                    width: 100%;
                    margin-top: 20px;

                    .input-group {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        position: relative;

                        input {
                            background-color: var(--gray-100);
                            color: var(--gray-900);
                            width: 78%;
                            height: 3rem;
                            padding-left: 2.5rem;
                            margin-right: 10px;

                            &::placeholder {
                                color: var(--gray-700);
                                margin-right: 10px;
                            }
                        }

                        #email.sign-up {
                            max-width: 33rem;
                            width: 80%;
                            height: 2rem;
                            border-radius: 10px;
                            border: 1px solid;
                            border-color: var(--gray-400);
                            padding: 8px 30px 8px 0;
                            margin-left: 20px;
                            font-weight: 500;
                            opacity: 0.8;
                            justify-content: center;

                            @include md {
                                height: 3rem;
                            }
                        }

                        i {
                            font-weight: 300;
                            font-size: 20px;
                            /*position: relative;
                            display: none;
                            top: .9rem;
                            left: -41rem;*/
                            position: absolute;
                            top: 27%;
                            left: 3%;
                            transform: translateY(-50%);

                            @include md {
                                position: absolute;
                                top: 50%;
                                left: 2%;
                                transform: translateY(-50%);
                            }


                            @include xxl {
                                display: inline-block;
                            }
                        }

                        button {
                            @include button;
                            @include theme-shadow;
                            margin-top: 10px;
                            height: 2.5rem;
                            width: 70%;
                            margin-left: 20px;
                            border-radius: 6px !important;


                            @include md {
                                height: 2.8rem;
                                width: 20%;
                                margin-top: 0px;
                                margin-left: 10px;
                            }

                            @include lg {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }

        .information {
            padding-left: 13%;
            margin-top: 5px;
        }
    }

    padding-bottom: 10vh;
}
