.tools {
    background-color: var(--gray-000);

    .container {
        

        .text {
            padding-top: 6vh;
            padding-bottom: 1rem;
            justify-content: center;
            text-align: center;
            align-items: center;

            p {
                padding: 0;

                @include md {
                    padding: 0 12vh;
                }

                @include lg {
                    padding: 0 16vh;
                }
            }
        }



        .grid {
            display: grid;
            padding: 10vh;
            row-gap: 5vh;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: "tool-card1" "tool-card2" "tool-card3" "tool-card4" "tool-card5" "tool-card6" "tool-card7" "tool-card8";

            @include md {
                // padding: 12vh;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "tool-card1 tool-card2 tool-card3 tool-card4" "tool-card5 tool-card6 tool-card7 tool-card8";
            }

            img {
                padding-bottom: 2vh;
            }

            .tool-card1 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card1;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card2 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card2;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card3 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card3;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card4 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card4;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card5 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card5;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card6 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card6;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card7 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card7;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .tool-card8 {
                padding: 0vh;
                text-align: center;
                justify-content: center;
                transition: all 0.15s ease-in-out;
                grid-area: tool-card8;

                @include xl {
                    padding: 3.5vh;
                    text-align: left;
                    justify-content: left;
                }

                &:hover {
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
